@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-pretendard), "Inter", sans-serif;
  }
}

@layer utilities {
  /* 스크롤바 숨기기 */
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
